.main {
  min-width: 95%;
  max-width: 95%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  user-select: text;
  font-size: 16px;
  // margin-bottom: 100px
  margin-bottom: 100px;
}

// markdown 内容
.content {
  padding: 10px 10px;
  background-color: white;
  border-radius: var(--border-radius-1);
  width: 80%;
  // height: 100%;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 100px;
}

// 导航
.navigation {
  position: fixed;
  right: 3%;
  border-radius: var(--border-radius-1);
  height: 90vh;
  width: 20vw;
  .listClass {
    list-style: none;
    color: black;
    .itemClass {
      position: relative;
      list-style: none;
      .linkClass {
        position: relative;
        color: black;
        .item {
          line-height: 22.5px;
        }
        .item:hover {
          color: var(--blue-1);
        }
      }
    }
  }
  overflow: auto;
}

// 导航激活颜色
.active {
  color: var(--blue-1);
}

.active::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 0px;
    left: -10px;
    // margin-top: 7px;
    width: 4px;
    height: 15px;
    background: var(--blue-1);
    border-radius: 0 4px 4px 0;
}

// 代码块
.pre {
  border-radius: 8px;
  max-width: 98%;
  margin: auto;
  overflow: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  code {
    margin: auto;
  }
  border: 1px solid #f6f8fa;
}

.hljs {
  white-space: pre-wrap;
  word-spacing: 10em;
}

:not(pre) > code {
  font-weight: 600;
  color: var(--blue-1);
  border-radius: var(--border-radius-2);
  padding: 0px 4px;
}

// 引用块
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

img {
  width: 99%;
}
