.main {
  min-width: 95%;
  max-width: 95%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  user-select: text;
}

.content {
  padding: 10px;
  background-color: white;
  border-radius: var(--common-border-radius);
  width: 80%;
  overflow: auto;
  
}

.navigation {
  margin-left: 10px;
  position: fixed;
  right: 5%;
  border-radius: var(--common-border-radius);
  height: 85vh;
  width: 20vw;
  .listClass {
    list-style: none;
    .itemClass {
      list-style: none;
      .linkClass {
        color: rgba(60, 60, 60, 1);
      }
      .linkClass:hover {
        color: var(--color-antd-primary);
      }

      .linkClass:active {
        color: red;
      }
    }
  }

  .item {
    overflow-y: auto; /* 垂直方向溢出显示滚动条 */
    overflow-x: auto;
    font-size: 16px;
    font-weight: bold;
    color: rgba(60, 60, 60, 0.7);
  }
}

.active {
  background-color: #e4e6eb;
}

.pre {
  border-radius: 8px;
  max-width: 98%;
  margin: auto;
  overflow: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  code {
    margin: auto;
  }
  border: 1px solid #f6f8fa;
  // background-color: #f6f8fa !important;
}

p> code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: var(--common-border-radius);
  padding: 0px 4px;
}

li> code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: var(--common-border-radius);
  padding: 0px 4px;
}


blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

img {
  width: 99%;
}
