.items{
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-weight: 50;
  margin-top: 10px;
  margin-bottom: 10px;
  li:first-child {
    color: #515767;
    font-size: 14px;
  }
}

.tags{
  margin-left:10px;
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-weight: 50;
  div:not(:last-child)::after {
    content: "·"; /* 设置间隔字符 */
    margin-right: 5px; /* 设置字符和下一个列表项之间的间距 */
    margin-left: 5px;
  }
}

.title {
  margin-bottom: 10px;
}