:root {
  --blue-1: #1e80ff;
  --blue-2: #4096ff;
  --blue-3: #abcdff;
  --blue-4: rgb(214, 234, 252);
  --blue-selectd: #eaf2ff;
  --gray-hovor: #f2f3f5;
  --gray-2: #dbdde1;
  --border-radius-1: 8px;
  --backgroud-color-1: white;
  --border-radius-2: 5px;
}

body {
  margin: 0 0;
  padding: 0 0;
}

// body { scroll-behavior: smooth; }

// ol { counter-reset: list-item; }
// li { display: block; counter-increment: list-item; }
// li:before { content: counters(list-item,'.') ' '; }
