.main {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 85vh;

  .title{
    padding-left: 5px;
    padding-top: 5px;
    color: var(--blue-1);
    border-bottom: 1px solid black;
  }

  .jsonContent {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--backgroud-color-1);
    border-radius: var(--border-radius-1);
    border: 1px solid black;
  }

  .viewContent {
    display: flex;

    flex-direction: column;
    width: 60%;

    background-color: var(--backgroud-color-1);
    border-radius: var(--border-radius-1);
    border: 1px solid black;
    margin-left: 10px;

    overflow-y: auto;
  }

  .content {
  }

  .action {
    padding: 5px;
    border-bottom: 1px solid black;
  }
}